<div class="card">{{name}}</div>
<div class="chat-container card">
    <div style="position:relative">
        <div class="bg-image"></div>
        <div class="message-container card">

        </div>
    </div>
    <form class="send-container">
        <input rows="2" type="text" placeholder="Type a message" name="message-input" id="message-input">
        <button type="submit" name="send-button" id="send-button"><i class="fas fa-pen"></i></button>
    </form>
</div>

<!--div class="broadcast-body">
    <div class="sender-row"></div>
    <div class="div">
        <span id="message" class="message">Hello</span>
        <span class="date-body">June 12@8.30</span>
    </div>
</div-->